.header-container{
    margin-top: 80px;
    margin-left: 80px;
    width: 90%;
}
.title{
    font-size: 4vw;
}
.sub-title{ 
    font-size: 1vw;
}
.txt-container{
    margin-bottom: 2vh;
    color: white;
}
.new-input{
    font-size: 2vw;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    border: none;
    width: 100%;
}
.new-input::placeholder {
    font-style: italic;
}